@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.todobody {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px !important;
}

.info {
  color: rgba(0, 0, 0, 0.6);
  padding: 10% 10% 5% 10% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info h1 {
  font-weight: bold !important;
  padding-left: 10%;
  font-size: 2.05rem;
}

.info p {
  padding-left: 10%;
  font-size: 1.5rem;
}

.info img {
  width: 25%;
}

.cajitasconjunto {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cajita {
  background-color: rgba(240, 236, 243, 0.671);
  width: 500px;
  height: 300px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cajita p {
  padding-top: 20%;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.6);
}

.cajita:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../images/cajitasindex/1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/cajitasindex/1.jpg);
  color: white;
}

.acordeon {
  background-color: rgba(188, 179, 197, 0.322);
  width: 96%;
  border-color: rgba(188, 179, 197, 0.322);
  color: rgba(0, 0, 0, 0.5);
  margin: 2% 2% 2% 2%;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: start;
}

.items p {
  padding: 0% 1% 1% 2%;
  color: rgba(0, 0, 0, 0.5);
}

.items h3 {
  padding: 1% 1% 0.5% 2%;
  color: rgba(0, 0, 0, 0.5);
  font-size: x-large;
}

header {
  background-color: rgba(188, 179, 197, 0.322);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

header .logo {
  width: 70px;
  margin-left: 10px;
}

header .nav {
  list-style: none;
}

header .nav ul {
  margin-bottom: 0% !important;
}

header .nav ul li {
  display: inline;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  padding: 8px;
}

header .nav ul li a {
  text-decoration: none;
  color: #686868;
}

header .nav ul li a:hover {
  color: black;
}

.banner {
  width: 100%;
  position: relative;
}

.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.banner h1 {
  position: absolute;
  top: 80%;
  left: 14.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgba(244, 241, 247, 0.459);
}

.titulo h2 {
  background-color: rgba(188, 179, 197, 0.322);
  color: rgba(0, 0, 0, 0.5);
  margin: 6% 2% 1% 2%;
  font-weight: bold;
}

.galeria {
  padding: 0% 2% 0% 2%;
}

.galeria img {
  width: 33%;
}

.galeria video {
  width: 67%;
}

.galeriaSketchbook {
  padding: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 8fr;
  grid-gap: 20px;
}

.galeriaSketchbook img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeriaSketchbook :first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.galeriaSketchbook :nth-child(6) {
  grid-row: 2 span;
}

.galeriaSketchbook :nth-child(11) {
  grid-row: 2 span;
}

.galeriaSketchbook :nth-child(16) {
  grid-row: 2 span;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 20% 10% 20%;
}

.inputs label {
  padding-top: 2%;
}

.inputs .boton {
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

input:focus {
  background-color: rgba(126, 126, 126, 0.178);
}

textarea:focus {
  background-color: rgba(126, 126, 126, 0.178);
}

footer {
  background-color: rgba(117, 107, 129, 0.548);
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 500px) {
  body {
    color: beige;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */