header{
    background-color: $color-ppal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .logo{
        width: 6%;
        margin-left: 2%;
    }

    .nav{
        list-style: none;
        ul{
            margin-bottom: 0% !important;
            li{
                display: inline;
                font-weight: bold;
                font-size: 1.4rem;
                color: rgba(0, 0, 0, 0.3);
                padding: 8px;
                a{
                    text-decoration: none;
                    color: rgb(104, 104, 104);
                    &:hover{
                        color: black;
                    }
                }
        
        
            }

        }
        
    }

}

