.banner{
    width: 100%;
    position: relative;

    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        filter: brightness(50%);
    }

    h1{
        position: absolute;
        top: 80%;
        left: 14.5%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: rgba(244, 241, 247, 0.459);   
    }
}

.titulo {
    h2{
    background-color: map-get($titulos, color);
    color: rgba(0, 0, 0, 0.5);
    margin: map-get($titulos, margin);
    font-weight: map-get($titulos, font-weight);
    }
}

.galeria{
    padding: 0% 2% 0% 2%;

    img{
        width: 33%;
    }
    
    video{
         width: 67%;
    }

}
